[2018-01-13 21:16] feelpp-bot opened #1 "Add toolbox test cases from SZE"
SZE have created various testcases/examples to use Feel++ CFD and CSM toolboxes. This needs to be added to Feel++.

[2018-01-13 21:48] #1 closed

[2018-04-27 02:47] prudhomm opened #2 "Make release v0.104"

[2018-04-27 02:47] prudhomm commented on #2
this is done here https://github.com/feelpp/toolbox/releases/tag/v0.104.0

[2018-04-27 02:47] #2 closed

[2018-05-02 15:26] prudhomm opened #3 "Add spring CFD example"
the example is in angiotk repo

[2018-05-02 15:27] prudhomm opened #4 "Add Spring CSM example"
this is in angiotk repo

/cc @vincentchabannes

[2018-05-02 15:28] prudhomm opened #5 "Add cyclone CFD example"
see course example

/cc @vincentchabannes

[2018-05-02 15:31] prudhomm opened #6 "Add pendulum CSM example"
the testcase is described in the Feel++ courses

@olmes-sch  you will work with @celineCQ

/cc @vincentchabannes

[2018-05-02 15:36] prudhomm opened #7 "add building aerothermal 2D example"
2D building aerothermal flow

/cc @vincentchabannes

[2018-05-02 15:38] prudhomm opened #8 "add 3D building thermal simulation"
add thermal building example

/cc @vincentchabannes

[2018-05-02 20:52] prudhomm opened #9 "Add thermo-electric magnet example"
Add the magnet thermo-electric example in https://github.com/feelpp/feelpp/tree/develop/toolboxes/thermoelectric/ElectroMagnets in `feelpp/toolboxes`.
It could start as an example or could be in benchmarks if we compare the results with what is obtained with current hifimagnet models and the thermo-electric toolbox

[2018-05-02 21:02] prudhomm opened #10 "Add opus testcase"
The opus testcase needs to be added to the toolbox benchmarks, we have some results to compare with in some cases (with Comsol)

[2018-05-02 21:03] prudhomm commented on #10
@GQMP  I would like you to be on the forefront of these developments.

[2018-05-02 22:00] prudhomm opened #11 "Add Hamstad benchmarks"
In the research area of building physics, the so-called HAMSTAD (Heat, Air and Moisture STAnDardization) project is a very well known benchmark for the testing of simulation tools

see e.g.
- [van schijndel_paper.pdf](https://github.com/feelpp/toolbox/files/1969011/van.schijndel_paper.pdf)
- [Sander_Goesten_MSc_Final.pdf](https://github.com/feelpp/toolbox/files/1969014/Sander_Goesten_MSc_Final.pdf

[2018-05-03 07:08] vincentchabannes opened #12 "Add balloon type FSI examples"
add FSI examples initially describe in
 [A solution for the incompressibility dilemma in partitioned fluid–structure interaction with pure Dirichlet fluid domains ( Ulrich KüttlerChristiane FörsterWolfgang A. Wall)](https://link.springer.com/article/10.1007/s00466-006-0066-5)
with the square and the bended domain.
Others description/results can be found in :
- [Generalized Robin-Neumann explicit c

[2018-05-03 08:01] prudhomm commented on #12
I added the benchmark to the first sprint with zenhub, have you all an account on zenhub ?

[2018-05-03 13:47] prudhomm opened #13 "Add documentation on how to contribute an example or benchmarks"
We need to describe the process of contributing an example or benchmark:
- [ ] template documentation for example and benchmark (see all issue templates)
- [ ] where to put the documentation and example/benchmarks (directory layout)
- [ ] producing and uploading to DMP vtk.js files

[2018-05-04 08:28] prudhomm opened #14 "add documentation for girder access via python"
add doc + example of python code to access girder

[2018-05-04 08:30] prudhomm opened #15 "add darcy examples"
This is linked to #16 to provide examples for the Darcy toolbox based on the generic HDG Poisson solver. See #16 for more details.

We should gather here suggestions of examples/test cases of Darcy flows.

[2018-05-04 09:07] miinguyen commented on #7
@prudhomm  Is this example ibat/doc/Rapport/Textes/model1.adoc going for the case at first? I think we can still put the case with the window, what I am doing now.

[2018-05-04 11:30] #13 closed

[2018-05-04 11:44] GQMP commented on #10
Where can I download the reference results ?

[2018-05-04 11:48] prudhomm commented on #10
- [OpusBenchmarkValidation.pdf](https://github.com/feelpp/toolbox/files/1974281/OpusBenchmarkValidation.pdf)
I have also the tex files and everything I think

[2018-05-04 11:51] prudhomm commented on #10
I just shared with you the opus benchmark via dropbox.
you can use pandoc to transform tex files into asciidoc files

[2018-05-04 12:12] miinguyen commented on #7
It's nice to mention in benchmark data and the dependency on the time. It's a good idea. I didn't think about that. I try at first with the values theoretical and to complete the model to see how it works.

[2018-05-04 13:58] PhilippeRicka opened #16 "Darcy toolbox"
I want to develop a toolbox for fluid seepage through porous media in 2D and 3D using the work already done for the Poisson problems.

One of the aims is to be able to solve Stokes-Darcy and Navier-Stokes-Darcy coupled problems within the context of blood perfusion through the brain.

[2018-05-04 14:01] PhilippeRicka opened #17 "fluiddarcy toolbox"
We would like to enable coupling between a free fluid model and a fluid flow through porous media using existing CFD and soon existing HDG Darcy toolboxes.

[2018-05-04 16:03] lberti commented on #12
@vincentchabannes I have prepared the meshes for both the box and the structure, and I have started to write the configuration files. Do we have to implement the volume constraint that the article mentions? Is there already a routine implementing Lagrange multipliers? The article also recommends not to do the relaxation on the displacements but rather on the forces when passing between the two sub

[2018-05-04 16:27] prudhomm commented on #12
This is implemented. It corresponds to the incomprehensible case

[2018-05-06 17:15] Trophime opened #18 "ThemoelectricModel: Joules heating of a stranded conductor - Rectangular cross-section torus - Analytical solution"
## Description of the example

In this example, we will estimate the rise in temperature due to Joules losses in  a stranded conductor. An electrical potential $V_0$ is applied to the entry/exit of the conductor which is also cooled by a force flow.
The geometry of the conductor is choosen as to have an analytical expression for the temperature.

## Geometry

- The conductor consists in a rectangu

[2018-05-06 17:47] prudhomm commented on #18
@GQMP and @romainhild you are on it. The main worker would be @GQMP with help from @romainhild

[2018-05-06 18:59] Trophime opened #19 "Enable 2D Axi formulations of the toolboxes"
**Is your feature request related to a problem ? Please describe.**
For many problems, it may be useful in a first approximation to consider 2D Axi geometries and formulation. Common examples may be found in physics textbooks.

**Describe the solution you'd like**
It would be great to have a 2D axi version for each toolbox.

**Additional context**
Special care shall be taken for PDE with vectorial

[2018-05-06 19:11] prudhomm commented on #16
I added @lsala as an assignee, he is also concerned by this development

[2018-05-06 19:25] prudhomm commented on #19
Any particular toolbox to start with ?
elasticity?
heat transfer?
Would you have verification benchmarks ?

[2018-05-06 19:50] Trophime opened #20 "Magnetostatic: A solenoidal magnet - Analitycal solutions"
## Description of the example

In this example, we will compute the magnetic field generated by a stranded conductor.
The geometry of the conductor is choosen such that we can derive analytical expression
of the magnetic field.

## Geometry

The conductor $\Omega$ consists in a rectangular cross section torus.
The geometry also contains an external domain which is an approximation of $\mathbf{R}^3

[2018-05-06 19:54] Trophime commented on #20
This benchmark may also serves as the validation for a vectorial laplacian.
See https://github.com/feelpp/hifimagnet/tree/develop/testsuite/Magnetostatic[Cart]Model

[2018-05-06 20:22] Trophime opened #21 "CSM: ideal solenoid magnet - Analytical expression"
## Description of the example

In this example, we consider a solenoid conductor with finite thickness and infinite length.
This allow us to ignore the *z* components in our equations.
We admit that there is only a radial expansion.

## Geometry

The conductor $\Omega$ consists in a rectangular cross section torus.
The geometry also contains an external domain which is an approximation of $\mathbf

[2018-05-06 21:35] Trophime commented on #19
The simplest to start with are heat equations. For the benchmarks simply use the analytical test provide in thermoelectricmodel.

Then, what would interest me, is to have:
* a brand new magnetostatic ( rot 1/mu rot A = j)
* an elasticty version
for these 2 models there are references in J. Nadarassa report
The magnetostatic Axi formulation is actually implement in hif
imagnet

[2018-05-07 08:37] Trophime commented on #21
This example seems to be already existing in CSM benchmarks.
We should only make it look more like the others

[2018-05-07 09:17] prudhomm commented on #14
what's up ?

[2018-05-07 09:18] prudhomm commented on #7
have you documented some thing up to now ? it would be good to start doing so that we understand where thinks are being blocked. Could you push the model description to github?
following the rules set in the contribution guide ?

[2018-05-07 09:39] prudhomm commented on #19
It seems to me that we cannot deal with this issue during the sprint, we can however discuss the design during the sprint

[2018-05-09 10:02] prudhomm commented on #12
@lberti  now you see just above the commit is there

[2018-05-09 14:31] lberti commented on #12
If I put the "inlet" boundary condition, I just fix the velocity and not the pressure, as specified in
http://docs.feelpp.org/toolboxes/0.104/cfd/toolbox/#_boundary_conditions ?

The simulations with the box work only if I put define-pressure-cst=1 in the cfg file, but this apparently doesn't allow the pressure gradient to form, and as a result the balloon doesn't inflate.

Moreover, in the struct

[2018-05-10 14:27] #14 closed

[2018-05-10 14:43] prudhomm commented on #10
@gqmp any news on your front?

[2018-05-10 14:47] prudhomm commented on #9
@romainhild do you have a girder account?
The meshes should go on girder and we should use the upcoming remote data download. In the mean time, a call to curl should suffice and the command line in README.adoc

[2018-05-10 18:34] prudhomm commented on #4
the documentation is now properly generated:
http://docs.feelpp.org/angiotk/0.1/centerlines/spring/

[2018-05-10 18:34] prudhomm commented on #3
the documentation is now properly generated
http://docs.feelpp.org/angiotk/0.1/centerlines/spring/

[2018-05-10 18:36] prudhomm commented on #3
@francoisdh now the mesh generation explanation go in angiotk and the spring cfd #3 and csm #4 go in toolbox. They will need to be linked of course.
The mesh of the spring is uploaded to girder

[2018-05-11 03:58] prudhomm commented on #5
any update on this example ?

[2018-05-11 05:31] prudhomm commented on #5
I remove @francoisdh  from this one so that he can work on a new testcase within the frame of his PhD

[2018-05-11 07:40] jbwahl commented on #10
@prudhomm j'avais un pdf plus complet sur Opus que tu m'avais fourni. Est-ce volontaire de ne pas l'avoir transmis ?  Est-ce que je peux le partager ici ?

[2018-05-11 07:47] jbwahl commented on #10
@prudhomm can you share the dropbox folder with me ?

[2018-05-11 08:04] prudhomm commented on #10
I provided the full opus access via dropbox

[2018-05-11 08:06] prudhomm commented on #10
there is also a dataset to compare the results with comsol

[2018-05-11 08:07] jbwahl commented on #10
thx

[2018-05-11 11:35] celineCQ commented on #3
I'm confused.
Shouldn't the comment about the angiotk doc be in the angiotk issue, linked here by the dependencies, that block this issue ?
Cause I've been working on the toolbox & toolbox doc and now I'm not sure anymore of what remains to be done.

[2018-05-11 11:50] prudhomm commented on #3
@celineCQ angiotk is only responsible for the mesh generation and is done (code+docs with antora) in `feelpp/angiotk`, the CFD and CSM parts are in `feelpp/toolbox` (note that there some docs in angiotk for them already).
If you are already done with the code+doc then awesome!
follow the steps here:
http://docs.feelpp.org/contribute/latest/#_documentation_setup

[2018-05-11 11:51] prudhomm commented on #3
However in the angiotk documentation we link the mesh generation doc  to the CFD/CSM example and vice et versa so that the user can be from one another easily/quickly

[2018-05-11 11:57] celineCQ commented on #3
I'm not done yet, obviously, only made the initial push of the branch with barely anything in it, I was just making sure the work wasn't going to be done twice.

[2018-05-11 12:07] prudhomm commented on #3
I renamed https://github.com/feelpp/angiotk/issues/33 to be more explicit ;)

[2018-05-14 09:29] GQMP commented on #10
@prudhomm I did the tests, and I try to extract the results with Paraview.
For the stationary case, I already have the results : mean of 338.38 °K on IC2 and mean of 312.86 °K  on the output, but the reference results are lower (respectively 322.75 °K and 310.42 °K). It might be the difference of the boundary conditions on sides (adiabatic vs periodic), but then I don't know how to compare correct

[2018-05-14 14:03] celineCQ commented on #3
I seem to remind that we should put the angioTK generated mesh on Girder.
Should we add a python script that downloads the mesh in the toolbox?
If yes, how is privacy dealt with ? We want the script to work for all possible users since it's a toolbox, but we don't want the all possible users to access all Girder, am I right ?

[2018-05-14 16:13] prudhomm commented on #10
Yes that's it. No problem with that. We need to support two things that were supported in the past :
* periodic boundary conditions
* locally discontinuous functions

[2018-05-14 16:13] prudhomm commented on #10
The overhaul profile of the outputs should be similar though, no?

[2018-05-15 14:09] romainhild opened #26 "Export current density in electric/thermoelectric toolboxes"
**Is your feature request related to a problem ? Please describe.**
In Hifimagnet the field of concern is more the current density (conductivity times electric field) than the electric field itself.
It would be great to be able to export it.

**Describe the solution you'd like**
Add `current-density` to the list of exported fields.

**Describe alternatives you've considered**
Since the conductivit

[2018-05-16 13:53] celineCQ commented on #8
@miinguyen @Weimin453 could you detail the issue you found this morning ?

[2018-05-16 15:50] miinguyen commented on #8
![screen shot 2018-05-16 at 17 49 58](https://user-images.githubusercontent.com/25435287/40128351-ac98d4f8-5931-11e8-8918-88bd22bc291f.png)

[2018-05-17 08:14] celineCQ commented on #7
@miinguyen From what I understand there is some issue with the new/old version of the 2D problem.
Could you give us some more info no that  ?
thanks !

[2018-05-18 12:43] celineCQ commented on #3
Now waiting for the angio tk docs to be online (for reference) & for final mesh to be put on girder.
I also plan on changing the .png file for another vtkjs visualisation, would that be okay ?

[2018-05-18 14:18] celineCQ commented on #6
@olmes-sch could we start working on it ?

[2018-05-22 10:04] prudhomm opened #30 "Stokes flow in a pipe"
## Description of the example

simulate a Stokes flow in a pipe with a poiseuille inflow

## Geometry

 the geometry is a 2D pipe with length L=5 and height H=1

## Input parameters

The input parameters can be the
- viscosity
- length
- height
- velocity magnitude

## Model & Toolbox

- toolbox fluid CFD using the Stokes

### Materials

constant set to eg. blood viscosity

### Boundary conditions

[2018-05-23 10:19] prudhomm commented on #30
@vincentchabannes it is possible to have error norms calculations in the json files ?

[2018-05-24 08:03] lberti commented on #12
Should this issue be closed?

[2018-05-24 10:36] prudhomm commented on #12
I thought there were still issues with the structure example

[2018-05-24 13:39] prudhomm commented on #12
@vincentchabannes  what do you think ? close or keep open ?

[2018-05-25 03:44] prudhomm commented on #8
@Weimin453 where do you stand on this testcase ?
looking at http://docs.feelpp.org/examples/wip-example-8/heat/3Dbuilding/README/ it is unfinished, there are no results and no analysis

[2018-05-25 13:36] #26 closed

[2018-05-27 05:07] prudhomm commented on #10
@GQMP where do we stand on this project?

[2018-05-28 06:34] #9 closed

[2018-05-28 06:35] prudhomm commented on #12
I close the issue

[2018-05-28 06:35] #12 closed

[2018-05-28 06:42] prudhomm commented on #16
@PhilippeRicka @lsala I would like the toolbox with some examples and benchmarks and of course documentation ready for ECMI 2018 so that we can demo it. This is part of the
[2nd toolbox sprint](https://github.com/feelpp/feelpp/blob/develop/CHANGELOG.adoc#boards?milestones=Sprint%20Toolbox%202018.2%232018-06-14&repos=82891573,4392591,117375435)

[2018-05-28 06:43] prudhomm commented on #17
@PhilippeRicka @lsala I would like to have the toolbox ready with some benchmark/example before the ECMI conference. This is part of the [2nd sprint](https://github.com/feelpp/feelpp/blob/develop/CHANGELOG.adoc#boards?milestones=Sprint%20Toolbox%202018.2%232018-06-14&repos=82891573,4392591,117375435)

[2018-05-28 06:43] prudhomm commented on #17
and of course documentation

[2018-05-28 06:44] prudhomm commented on #15
in [2nd sprint](https://github.com/feelpp/feelpp/blob/develop/CHANGELOG.adoc#boards?milestones=Sprint%20Toolbox%202018.2%232018-06-14&repos=82891573,4392591,117375435)

[2018-05-28 06:44] prudhomm commented on #10
@GQMP where do we stand on this ? @romainhild  @jbwahl  ?

[2018-05-28 06:46] prudhomm commented on #4
@celineCQ @francoisdh where do we stand on this ?

[2018-05-28 06:49] prudhomm commented on #5
please add reference to issues in commit so that we can track down progress

[2018-05-28 07:00] prudhomm commented on #4
I move this to the second sprint

[2018-05-28 07:01] prudhomm commented on #6
@celineCQ, @olmes-sch  has left.

any progress on your side?

[2018-05-28 07:35] prudhomm commented on #10
where are the plot.ly graph ?
http://docs.feelpp.org/examples/wip-example-3-opuseads-heat/heat/opus/README/

[2018-05-28 09:26] prudhomm opened #33 "Add documentation on how to use plot.ly in the pages"
**Is your feature request related to a problem ? Please describe.**
we should support embedded graph plot  to add for example convergence graphs and  outputs plots

**Describe the solution you'd like**
plotly.js  is a nice framework to embed graphics in html page
this can be easily supported in antora framework

[2018-05-28 11:57] #3 closed

[2018-05-28 13:40] lsala commented on #16
@prudhomm
When you ask for benchmarks, you don't refer to the work done for the convergence tests, don't you?

I have another question, which branch do we have to use? I know that the `sc-geomap` has some compilation issues ...

Thanks!

[2018-05-28 13:42] lsala commented on #17
Sorry @prudhomm , what is the difference between this issue and https://github.com/feelpp/toolbox/issues/16 ?

[2018-05-28 14:13] celineCQ commented on #5
Duly noted, gonna do my best to think about it on my next commit. Is there a "right" way to add reference to the issue ?

[2018-05-28 14:22] romainhild commented on #5
https://help.github.com/articles/autolinked-references-and-urls/
https://help.github.com/articles/closing-issues-using-keywords/

[2018-05-29 14:16] celineCQ commented on #8
There remains a bug with vtkjs, we're looking into it w/ @vincentchabannes

[2018-05-29 15:27] vincentchabannes commented on #8
it has been fixed

[2018-05-30 10:46] prudhomm commented on #7
@celineCQ @miinguyen if I understand correctly the results with heat & fluid coupling are going to be added. Is that correct?

[2018-05-30 12:41] prudhomm opened #35 "Benchmarking solution strategies for linear elasticity in 3D"
## Description of the benchmark

compare the performances of different linear solvers in linear elasticity

## Geometry

- cantilever

## Input parameters

- mesh size
- FEM order
- `pc-type`
- `ksp-type`

## Model & Toolbox

- **toolbox**:  csm - linear elasticity

### Materials

compressible

### Boundary conditions

describe set of boundary conditions

## Outputs

performance metrics:

 - numbe

[2018-05-30 14:34] celineCQ commented on #7
Small blip with video export, we'll work on it friday morning.

[2018-05-30 14:50] miinguyen commented on #7
@prudhomm @celineCQ problem of images is fixed.

[2018-06-01 13:06] prudhomm commented on #10
@GQMP I just accepted the PR, could you update the testcase ?

[2018-06-04 16:02] lsala commented on #16
I have uploaded two new testcases for MixedPoisson 3D steady with and without IBC.
Commits https://github.com/feelpp/feelpp/commit/4a4bd48ba5952902962671c3fb1d2cf18afc4f53 and
https://github.com/feelpp/feelpp/commit/7ef85ffd8f23e79d0b377a6b18c70a76ae4126fa#diff-5e1f7d2da987af5efbe6a2b3ad848032

[2018-06-05 14:56] lsala opened #42 "RED: floating-gate nMOS transistor in inversion conditions"
## Description of the example

This example shows the distribution of the electric potential $V$ in a nanoscale floating-gate nMOS (Metal-Oxide-Semiconductor) transistor working in inversion conditions.
The prefix "n" indicates that the electric current is due to negatively charged electrons.
This simulation involves a non-homogeneous problem with internal interfaces and it has been solved with t

[2018-06-10 14:58] prudhomm opened #47 "Merge example and benchmark guides"
we have `examples` and `benchmarks`, I am thinking that it might be best to actually merge them into `cases`  or `examples` and have Feel++ Cases Guide. Then we would need to identify the benchmarks (which are just a subset of a case or example, they provide verification,validation or scalability checks) in each modules in a specific section. That way we gather all examples in one place and don’t

[2018-06-10 19:39] prudhomm opened #48 "Chorus AIRBUS 3D test case"
add Chorus AIRBUS testcase to feelpp/toolbox

[2018-06-10 19:41] prudhomm commented on #8
should the issue be closed?

[2018-06-10 19:42] prudhomm commented on #8
could we attempt at some point the aerothermal flow on cesga ?

[2018-06-10 19:44] prudhomm commented on #7
@vincentchabannes Should the issue be closed?
@miinguyen  could you make a video, upload on the youtube channel and add it to the documentation?

[2018-06-10 19:45] prudhomm commented on #7
This needs to be finised by tuesday

[2018-06-10 19:46] prudhomm commented on #5
@celineCQ do you think you can make it with this case by Tuesday evening? do you need help eg from @jbwahl or @vincentchabannes?

[2018-06-10 19:52] #42 closed

[2018-06-10 19:55] prudhomm opened #50 "Chorus AIRBUS 2D testcase"
## Description of the example

add the 2D Chorus AIRBUS testcase

The documentation is here

http://docs.feelpp.org/cases/0.105/heatfluid/cabin/README/

[2018-06-10 19:59] jbwahl commented on #50
I'm on it.
@prudhomm  I guess there was a keyboard issue with the title?

[2018-06-10 20:06] prudhomm commented on #50
that's my son who just played with my laptop. Quite dangerous it seems

[2018-06-10 20:11] prudhomm commented on #6
@celineCQ do you need help with the testcase? @francoisdh @romainhild or @vincentchabannes can perhaps help you with it? I would like it to be merged by Tuesday evening so that we can discuss it on Wednesday

[2018-06-11 04:31] prudhomm opened #51 "Add copy to clipboard buttons to get command lines or case option"
**Is your feature request related to a problem ? Please describe.**
When a end-user is reading the documentation, he may want to execute the case or have access to the `case` string to pass to MSO4SC

**Describe the solution you'd like**
To facilitate the usage, we can provide a `copy to clipboard` button that allows to retrieve either the command line or the `case` option

we may use https://clip

[2018-06-11 04:44] prudhomm commented on #51
@vincentchabannes what do you think about that?

[2018-06-11 05:53] prudhomm commented on #4
@francoisdh @celineCQ do you have any issues with this ones? it needs to be finished by tuesday evening. Do you need help?

[2018-06-11 08:06] celineCQ commented on #5
I've made progress on this case, will be over by today if I can save the time for it.

[2018-06-11 08:07] celineCQ commented on #6
Haven't have the time to start it yet, if all go smooth it'll be over by tomorrow, if I don't find the time, I'll ask around.

[2018-06-11 15:02] romainhild commented on #20
this is done in the branch [maxwell-magnetostatic](https://github.com/feelpp/toolbox/tree/maxwell-magnetostatic) right ?

[2018-06-11 17:54] prudhomm commented on #20
maxwell

[2018-06-12 04:37] #47 closed

[2018-06-12 06:51] prudhomm opened #57 "Rotating Winch fails on atlas"
**Describe the bug**
test case fails in singularity on atlas

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Atlas
2. Start singularity
3. run `feelpp_toolbox_solid --case "github:{repo:toolbox,path:examples/modules/csm/examples/rotating-winch}"
4.See error
[code]

[2018-06-12 08:49] vincentchabannes commented on #57
@prudhomm now it's work in // . In sequential, there is the bug with mesh partitioning (as for thermoelectric example)

[2018-06-12 10:42] prudhomm opened #62 "CI for toolbox cases"
**Is your feature request related to a problem ? Please describe.**
We don't have CI support for toolbox. We should be able to know the status of all the cases stored

**Describe the solution you'd like**
we should have a quick way to assess the health of the case files and also be able to run all cases
I suggest using `--check-init` to run simulation up to `init()` stage included
we then use buil

[2018-06-12 14:48] celineCQ commented on #5
wainting to preview the doc online to start merge request

[2018-06-12 16:37] celineCQ commented on #5
remaining issue with the vtkjs file, gotta check it tomorrow.

[2018-06-13 08:59] celineCQ commented on #6
Still having few issues with this one, trying to make sense of it at the moment.

[2018-06-13 13:05] francoisdh opened #68 "Spring CFD fails on atlas"
This case fails using

`feelpp_toolbox_fluid --case "github:{repo:toolbox, branch:master, path:examples/modules/cfd/examples/spring_cfd}"`

The mesh is missing (it should be downloaded from girder).

[2018-06-14 05:27] prudhomm commented on #57
Should it be closed?

[2018-06-14 07:27] celineCQ commented on #6
Convergence issues arose in 3D, working on it.
Gonna split the 2D and 3D case, the 2D case is nearly ready.

[2018-06-14 07:28] celineCQ commented on #68
Did the fix from @francoisdh fix the issue ?

[2018-06-14 08:46] vincentchabannes commented on #68
@francoisdh have you remove the scaling in the mesh generation? is it works?

[2018-06-14 08:48] celineCQ commented on #68
I still can see the scaling.

[2018-06-14 13:23] miinguyen commented on #7
@prudhomm It iust need to add the video then the issue can be closed.

[2018-06-16 13:59] #57 closed

[2018-06-19 04:33] prudhomm opened #85 "Compute Min, Max and Mean outputs"
**Is your feature request related to a problem ? Please describe.**
is it possible to compute outputs such as
 * min
 * max
 * mean
either global or local(markers)

**Describe the solution you'd like**

if yes, how is it done in the PostProcessing section?

**Additional context**
This was asked by one participant of ECMI 2018 conference.

[2018-06-19 05:33] prudhomm commented on #85
@vincentchabannes we should add the documentation for that. Could you post an example here for example and I add it to the documentation ?

[2018-06-19 05:37] prudhomm opened #86 "Get output data from MSO4SC"
**Is your feature request related to a problem ? Please describe.**
Currently the way we get to output from Feel++ apps is cumbersome and not very user friendly
We should be able to retrieve the data from the simulation in an easier way

**Describe the solution you'd like**
Several solutions were discussed:
 * automated upload to girder
 * Download buttons (log files, restarts files, result files

[2018-06-19 05:38] prudhomm opened #87 "ECMI 2018 User Stories"
We gather at ECMI 2018 user stories to improve our Feel++ apps and pilots as well as the userexperience

[2018-06-19 05:52] prudhomm commented on #86
This is linked to feelpp/feelpp#1121

[2018-06-19 06:14] prudhomm opened #88 "C++ or Python codes as inputs for Feel++ apps in MSO4SC"
**Is your feature request related to a problem ? Please describe.**
Would it be possible to have C++ or Python codes as inputs for Feel++ apps in MSO4SC

**Describe the solution you'd like**
Instead of `case` option we would use a script/code option which would then be executed by the feel++ app

**Describe alternatives you've considered**

**Additional context**
This was discussed with an ECMI 20

[2018-06-19 06:15] prudhomm commented on #88
this is linked to feelpp/feelpp#930 and feelpp/feelpp#1045

[2018-06-19 08:25] prudhomm opened #89 "Enable Feel++ Reduced Order Methods in MSO4SC"
**Is your feature request related to a problem ? Please describe.**
A ECMI 2018 participant would like to enable reduced order methods from Feel++ in MSO4SC

**Describe the solution you'd like**
The offline stage can definitely be deployed and the output databases can be then uploaded to Girder.

**Additional context**
Request from a ECMI 2018 participant

[2018-06-19 08:45] PhilippeRicka opened #91 "Mixed-poisson : take anisotropic material into account (porosity tensor)"
The porosity appears to be considered scalar in the mixed-Poisson sources. It could be interesting to generalize to tensors in order to manage anisotropic situations.

[2018-06-19 14:50] prudhomm opened #92 "Enable Fitting in toolbox JSON files"
**Is your feature request related to a problem ? Please describe.**
Lots of industrial problems require loading data from datafiles and use interpolation to fit the data.

**Describe the solution you'd like**
use fit interpolation feature of feel++ to add json files.

**Additional context**
request comes from a ECMI 2018 conference participant

[2018-06-19 14:55] prudhomm opened #93 "Add toolbox thermo-electro-fluid"
**Is your feature request related to a problem ? Please describe.**
thermo-electric-fluid toolbox would be nice to have in many industrials applications

**Additional context**
Request from a ECMI participant

[2018-06-19 21:38] prudhomm commented on #68
@francoisdh where do we stand on this ?

[2018-06-21 11:07] francoisdh commented on #68
@prudhomm The example actually runs fine now after the girder fix (tested with Singularity/atlas), but I have not removed the scaling yet. I was stuck for a while because I was not aware the github path had slightly changed: I was thus using the wrong command and faced a quite misleading error message, which mentionned json parsing error and suggested checking it with yamllint and jsonlint. And so

[2018-06-22 04:31] prudhomm commented on #68
@francoisdh what is "for a while" ? you can always run without the case _github_ feature. Regarding the message feel free to fill an issue

[2018-06-22 08:43] francoisdh commented on #68
Here, "for a while"  means "in the mean time": between the girder fix and tuesday. After I posted the girder fix, I was of course able to test without the case github feature, that's how I tested the girder fix in the first place. But I wanted to check if everything was working as expected after the merge. And that's why this issue remained opened while it could have been closed. Sorry for that. T

[2018-06-22 08:43] #68 closed

[2018-06-25 16:48] prudhomm opened #95 "Add case generator"
**Is your feature request related to a problem ? Please describe.**
There is some boilerplate when adding a new case documentation and input files.
This could be simplified/accelerated via a template system

**Describe the solution you'd like**
Ruby provides some nice tools and in particular supports Liquid templating.

[2018-07-06 03:14] #8 closed

[2018-07-06 03:29] prudhomm commented on #5
This is now set to be finished for v106 and the thrid sprint. @celineCQ

[2018-07-06 03:48] #95 closed

[2018-07-06 04:02] prudhomm commented on #85
@vincentchabannes is it finished? if it is then I move this back to release 105

[2018-07-06 04:03] prudhomm commented on #50
@jbwahl is it finished?

[2018-07-06 07:00] vincentchabannes commented on #85
why 105? we are in 106. I will try to do the pull request today. The code is finished and I have written also the [doc](http://docs.feelpp.org/toolboxes/0.105/what-is-a-toolbox/#_statistics). Feedbacks will be great

[2018-07-07 05:06] prudhomm commented on #85
yeah right sorry 106 of course

[2018-07-07 05:07] #85 closed

[2018-09-27 11:00] prudhomm commented on #6
I haven't seen the update on this, this is part of the v106 @celineCQ @francoisdh could you finish the work ?

[2018-09-27 11:00] prudhomm commented on #5
I haven't seen the update on this, this is part for the v106 @celineCQ @francoisdh could you finish the work ?
do you need help?

[2018-09-27 11:01] prudhomm commented on #18
I haven't seen the update on this, this is part f the v106 @romainhild  @Trophime  @GQMP  could you finish the work? or is it done and can be closed ?

[2018-09-27 11:02] prudhomm commented on #16
where do we stand ? can it be closed ?

[2018-09-27 11:03] prudhomm commented on #15
I haven't seen  updates on this, this is part f the v106 @lsala  @PhilippeRicka  @romainhild  care to share your thoughts and work ?

[2018-09-27 11:03] prudhomm commented on #4
I haven't seen the update on this, this is part f the v106 @celineCQ @francoisdh could you finish the work ?
do you need help ?

[2018-09-27 11:06] prudhomm commented on #20
@Trophime @romainhild should it be closed ? this is part of v106

[2018-09-27 11:14] prudhomm commented on #51
this is done

[2018-09-27 11:14] #51 closed

[2018-09-27 11:15] prudhomm commented on #48
@jbwahl could you  update this one ?
perhaps it is best to move to v107 considering the complexity

[2018-09-27 11:18] jbwahl commented on #48
indeed, there is some work to do with @vincentchabannes regarding the preconditioner strategy.
I guess it is more realistic to move it to v107

[2018-09-27 13:10] lsala commented on #15
@prudhomm
Everything is already in the documentation http://docs.feelpp.org/cases/0.105/poisson/README/ as the latest update, are you asking for other examples?

Just checking there is an open pull request for the `hdg-poisson-unitsquare` and I've seen that since the last updates there is no more working the 3d view of RED, I'll check it and try to fix relaunching a new pull request.

[2018-09-27 13:10] lsala commented on #16
What is the difference with the issue #15 ?

[2018-09-27 13:17] lsala commented on #15
Actually I had already the patch to try to solve the problem, it was just not updated with a pull request.

[2018-09-28 09:04] francoisdh commented on #6
@prudhomm Ok, I will investigate it

[2018-09-28 09:05] francoisdh commented on #5
@prudhomm I will check and tell you, I thought this one worked fine.

[2018-09-30 08:58] prudhomm commented on #16
This issue is about implementing and documenting the darcy toolbox. The HDG Poisson provides the generic components, now we want to have a subclass wrapping Poisson with the vocabulary of Darcy (velocity, pressure). Documentation should be provided about the modeling and mathematics of the Darcy toolbox. #15 is about providing examples of the toolbox

[2018-09-30 09:08] prudhomm commented on #50
@jbwahl I looked at the documentation of the testcase, there are no results, no comments and very little description. Could you extract your PhD work and incorporate it here ? Of course you should cite your thesis work at the end.

[2018-10-02 10:44] prudhomm commented on #16
I move this to v107 as we won't have anything probably this week @PhilippeRicka @lsala ?

[2018-10-02 10:47] prudhomm commented on #15
I move this to v107 as we won't have anything for the end of the week on this @PhilippeRicka  @lsala ?

I have a benchmark from IFPEN that we should do on a subterranean Darcy flow, we should find one or two more eg in the health sector. Could you have a look?

[2018-10-02 11:45] lsala commented on #15
The HDG Poisson examples are online, but now I understand that you are talking about Darcy and not Poisson right? With the subclass Darcy? Correct?

[2018-10-02 12:47] jbwahl commented on #50
It is not exactly the same configuration that what I used in my Ph.D
This one is a transient problem. I can add a video of the temperature field but I have not so many results.

[2018-10-04 09:18] romainhild commented on #20
I think we'll need a little more time for this one

[2018-10-05 21:55] francoisdh commented on #5
I would like more information about this case, I believe there is some contradiction:

- the current documentation and the [json](https://raw.githubusercontent.com/feelpp/toolbox/example-5-cyclone-cfd/examples/modules/cfd/examples/cyclone/cyclone.json) files mention water as the fluid being used, and provide matching density and viscosity. This suggests standard SI units are used.

- However, the

[2018-10-09 11:27] francoisdh commented on #5
I don't need specific units, I agree SI should be used, it is what everyone would assume I guess. Thanks for the link, I actually already read this to get to know the physics but - of course - nothing is said about the **device dimensions**.

My problem is to understand the case, as I did not design it. So my questions are:

- What is the fluid supposed to be ? Water at ambient ~20°C temperature ?

[2018-10-09 16:41] #18 closed

[2018-10-09 16:43] #21 closed

[2018-10-10 08:54] francoisdh commented on #5
@prudhomm Ok, my goal was to be about as thorough as with the spring CFD case.

I will switch the model to NS because with meters long device and water (rho/mu ≈ 10^6), the Reynolds number is orders of magnitude to high for Stokes...
I will gladly update it later if needed - and revert to Stokes if we change the physics parameters.

[2018-10-10 10:35] francoisdh commented on #5
@prudhomm @vincentchabannes
I updated the documentation, it seems good enough to me compared to the spring CFD case.

But I have trouble running the case with NS, it fails to converge.
- I guess I should tweak the cfg?
- What would be a good starting point?

[2018-10-10 12:54] prudhomm commented on #5
@francoisdh this is not that easy and we shouldn't lose too much time here. you would need to understand what is the Reynolds number here. Solving for Stokes is enough for now, you mention that in the doc, and NS will come later down the road.

[2018-10-10 13:00] prudhomm commented on #5
otherwise you need to understand a lot of things:
 - compute the Re to understand the regime
 - time stepping : you may have to reduce the time step for NS
 - stabilisation methods
 - turbulence modelling

the last point we don't have it yet.

Have a look at _e.g._ http://iopscience.iop.org/article/10.1088/1757-899X/288/1/012142/pdf

or the other PDF attached.

[23934_122215160513.pdf](https://git

[2018-10-10 15:04] francoisdh commented on #4
@prudhomm I have pushed a [new branch](https://github.com/feelpp/toolbox/tree/case-spring-csm) with this case including its [documentation](http://docs.feelpp.org/cases/0.106-case-spring-csm/csm/README/#_a_href_spring_readme_class_page_spring_a).
I will open a pull request.

[2018-10-10 16:01] francoisdh commented on #5
@prudhomm Ok, I switched back to Stokes, thanks for the PDFs :-) See PR #113

[2018-10-12 08:17] #4 closed

[2018-10-12 08:17] #5 closed

[2018-10-12 08:17] #6 closed

[2018-10-12 08:17] #30 closed

[2018-10-12 08:17] #50 closed

[2018-10-12 08:36] prudhomm commented on #10
This was not finished it seems see #119
@GQMP could you do it ? if you have any questions please ask
 - add images
 - add video with NS flow + heat transfer in time.

[2018-10-22 13:57] GQMP commented on #10
@prudhomm I modified the file toolbox/supplemental-ui/partials/head-meta.hbs 2 times (in the past), and it seems that the web page use the first version and not the second. As the second version is on all the branches of feelpp/toolbox, I suppose the site is not generated from this repository.

[2018-10-22 14:02] GQMP commented on #10
It seems that I forgot to make a pull request on book.feelpp.org...

[2018-10-23 06:59] prudhomm commented on #10
Ok and how about the testcase? could you finish it?

[2018-10-23 12:47] GQMP commented on #10
I don't know why but the page http://docs.feelpp.org/examples/wip-example-3-opuseads-heat/heat/opus/README/ shouldnt exists anymore, with the right antora module the address is now http://docs.feelpp.org/cases/0.106/heat/opus/README/.

[2018-10-23 12:52] GQMP commented on #10
@prudhomm I have the heat images of all the tests, and the video for the case test1.

[2019-03-03 05:31] prudhomm commented on #20
@romainhild @Trophime what is the state? what is required/missing?

[2019-05-14 13:32] prudhomm commented on #20
<sub>[View in Slack](https://feelpp.slack.com/archives/C6AQL4405/p1557840738001600)</sub>

[2019-08-02 19:44] #15 closed

[2020-03-26 09:48] prudhomm opened #122 "Add FMU testcase for heat transfer"
## Description of the example

this is related to feelpp/feelpp#1457

add the documentation in the toolbox repo

[2022-01-03 22:47] prudhomm opened #130 "electrostatic cases missing images/results"
**Describe the bug**
the images are missing in
- https://docs.feelpp.org/cases/latest/electric/rect/readme.html
- https://docs.feelpp.org/cases/latest/electric/README.html
- https://docs.feelpp.org/cases/latest/electric/quarterturn/readme.html

@Trophime would it be possible to fix this ?

[2022-01-04 12:17] Trophime commented on #130
@prudhomm I actually don't have such image. I shall generate them.

[2022-01-04 13:04] prudhomm commented on #130
But how did you choose the name of the images?

[2022-01-04 13:23] Trophime commented on #130
I just did a copy from thermoelectric test case

[2022-09-13 07:13] prudhomm opened #131 "Heat toolbox examples"
- [ ] building fails
- [ ] motor example fails

[2022-09-23 09:47] jobinhio opened #132 "backwardstep examples"
- [ ] backwardstep.cfg symbolic link to backwardstep3d.cfg
- [ ] backwardstep2d.jon update
- [ ]  backwardstep3d.jon update
- [ ] file pages/backwardstep/Readme.adoc doesn't contain results and  conclusions

[2022-09-23 10:05] jobinhio commented on #132
here are the results for backwardstep2d  exemples velocity.
![result_backstep](https://user-images.githubusercontent.com/90212689/191937679-5d635b1c-c321-489f-82bf-7c7c2d638445.png)
here are the results for backwardstep2d  exemples pressure.

![result_backstep pressure](https://user-images.githubusercontent.com/90212689/191938078-dd8327b8-3266-4d54-8751-6073c62ce72f.png)

[2022-09-23 12:25] jobinhio opened #133 "missing geo files"
- [x] #135
- [ ]

[2022-09-23 12:35] jobinhio opened #134 "folder without geo, json and cfg files"
- [ ]  cfpdes update
- [ ] electric update
- [ ] multifluid update
- [ ] maxwell update
- [ ] ROOT update

[2022-09-23 20:51] prudhomm commented on #133
Be careful some files are actually on girder.math.unistra.fr. they are too big to be on github
Please check the cfg file for mesh.filename

[2022-09-26 09:48] #134 closed

[2022-09-26 09:49] jobinhio opened #135 "add file cfd/examples/cyclone/cyclone.geo"

[2022-10-10 10:02] prudhomm opened #136 "add toolbox report to testcase"

[2022-10-10 10:33] prudhomm opened #137 "Port solid toolbox study cases"
Port the solid toolbox study cases

- [ ] solid suspension study
- [ ] solid sensor study
- [ ] solid braces study
- [ ] <ADD Other here>

[2022-10-10 10:34] prudhomm opened #138 "solid suspension study"

[2022-10-11 09:09] jobinhio commented on #132
here are the results for backwardstep3d exemples pressure.
![backstep3d_pressure](https://user-images.githubusercontent.com/90212689/195048242-30885872-5dae-4bb3-a6b5-f1346005583b.png)

here are the results for backwardstep3d exemples velocity.
![backstep3d_velocity](https://user-images.githubusercontent.com/90212689/195048426-6c54b8b4-4e37-4f5f-b740-af860c75776c.png)
![backstep3d_velocity2](https

[2022-10-11 12:04] jobinhio opened #139 "solid sensor study"

[2022-10-11 12:33] prudhomm commented on #132
@lberti @VLCeline could you show @jobinhio how to make nice graphics/images with paraview ?
you  could actually save the paraview pipeline to reuse it for each case.

[2022-10-11 12:34] prudhomm commented on #132
@jobinhio @lberti  did you manage to verify the results quantitatively or also qualitatively ?

[2022-10-11 13:44] prudhomm commented on #132
Whenever quantitative data are available, please add the check section

[2022-10-12 13:22] #139 closed

[2022-10-13 08:05] jobinhio commented on #138
here are the results of displacement solid with time 0.3 s.
![suspension_displacement](https://user-images.githubusercontent.com/90212689/195538390-5cd6596c-08de-47a2-bda4-2b49162ebbfe.png)

[2022-10-13 08:07] jobinhio opened #141 "solid spring study"

[2022-10-13 08:20] jobinhio commented on #141
here are the results of displacement solid.
![spring_displacement](https://user-images.githubusercontent.com/90212689/195541895-83825584-4bb2-43d9-80ae-d8001bda079e.png)

here are the results of von mises criterion.
![spring_von_mises_criterion](https://user-images.githubusercontent.com/90212689/195542345-7368192c-2fd0-4e35-bacb-ef7bb7ecf933.png)

[2022-10-13 09:16] prudhomm opened #144 "Add {imagesprefix} to env-github to display images in github"
in most examples images are not shown in github because the path information is not known to github

to fix this we need to

1. add `imagesprefix` definition at toplevel of `.adoc` file
2. use `{imagesprefix}` in `image::{imagesprefix}...` (Note that there must be no `/` after `{imagesprefix}`  otherwise it will break antora build

see #139 for an example

[2022-10-13 09:26] prudhomm opened #145 "Use github login to identify authors"
there is now a metadata field in our json files.
I suggest that when we use `authors` we actually use the github login to identify to authors.
we can then retrieve further information about the authors using a github REST API request

the list of authors can be obtained by looking at the list of people who contributed to github using `blame` button for example
eg https://github.com/feelpp/toolbox/

[2022-10-14 09:31] #138 closed

[2022-10-21 07:28] jobinhio opened #146 "solid pendulum study"

[2022-10-21 08:44] jobinhio commented on #146
here are the results of displacement solid 2D with time  8 s.
![pendulum2D_displacement_t8](https://user-images.githubusercontent.com/90212689/197143795-9fcc95a0-0c65-49e4-b7fa-b07ba975c7cd.png)

here are the results of von mises criterion in with time 8 s.
![pendulum2D_von_mises_criterion_t8](https://user-images.githubusercontent.com/90212689/197144276-0d45da6a-4bc7-4b64-94b4-648aad0f226b.png)

h

[2022-10-21 08:51] jobinhio opened #147 "solid vierendeel study"

[2022-10-21 09:20] jobinhio commented on #147
here are the results of displacement solid.
![vierendeel_displacement](https://user-images.githubusercontent.com/90212689/197160441-9ce01d7b-708b-47c5-a9b5-88d39b5e8ff2.png)

here are the results of principal stresses.
![vierendeel_principal_stresses](https://user-images.githubusercontent.com/90212689/197160602-a52e5c7f-dba6-4924-84d1-e43799e95822.png)

here are the results of tresca criterion.
![

[2022-11-03 06:07] prudhomm opened #150 "support jupyter notebook in examples"
thanks to asciidoctor-jupyter we can add jupyter support to asciidoc files.
The idea is to generate jupyter notebooks like [in this case](https://docs.feelpp.org/cases/latest/csm/sensor/index.html) and be able to download it

see documentation on how to generate the notebook in the top level README file

[2022-11-04 09:53] jobinhio opened #151 "Port heatfluid toolbox study cases"
- [ ] TurekKhron study
- [ ] pipestoskesmass study
- [ ]

[2022-11-04 09:53] jobinhio opened #152 "TurekKhron study"

[2022-11-04 10:22] jobinhio opened #153 "pipestoskesmass study"

[2022-11-07 19:33] #141 closed

[2022-11-07 19:35] #146 closed

[2022-11-07 19:37] #147 closed

[2022-11-11 08:53] #133 closed

[2022-11-11 11:39] jobinhio opened #156 "solid t-beam study"

[2022-11-11 11:46] jobinhio opened #157 "solid ribs study"